body {
    background-color:#33302F;
}

#gamingBoard{
    width:1600px;
    min-height:600px;
    background-color:#923508;
    margin:0 auto;
    border:solid 3px;
}
#gamingBoard > div{
    border-bottom:solid #000000 2px;
}

#gamingBoard > div{
    display:block;
}

.bricks{
    padding:20px;    
}

.row{
    display:block;
}

.row > div{
    display:inline-block;
    padding:10px;
    
}

.row div > a{
    display:block;
    background-color:#FFFFFF;
    font-size:24px;
    width:24px;
    height:24px;
    text-decoration:none;
    color:#000000;
}
.row div a:focus{
    box-shadow:0px 0px 0px 5px #207D27;
}