@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans);

body {
    background-color:#33302F;
}

#head {
    margin:0 auto;
    width:800px;
    background-color:#E84623;
    text-align:center;
    border:solid #000000 3px;
    border-radius:7px;
    font-family:"Merriweather Sans";
}


#gamingBoard{
    width:1600px;
    min-height:600px;
    background-color:#923508;
    margin:0 auto;
    border:solid 3px;
}

#gamingBoard > div{
    display:block;
    border: solid #190701 2px;
    border-radius:4px;
    padding:7px;
    background-color:#AD5E32;
}

.bricks{
    padding:20px;    
}

.row{
    display:block;
}

.row > div{
    display:inline-block;
    padding:10px;
    
}

.row div > a{
    display:block;
    background-color:#FFFFFF;
    font-size:22px;
    width:24px;
    height:24px;
    text-decoration:none;
    color:#000000;
}
.row div a img {
    text-align:center;
}
.row div a:focus{
    box-shadow:0px 0px 0px 5px #207D27;
}

div.rightPadding{
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    padding-right:100px;
}

.gaming ._tries {
    display:inline-block;
}

._win {
    color:#1E4A0B;
    font-size:24px;
}