@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);
#container {
    background: linear-gradient(to bottom, #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%);
    margin:auto; 
    width:1200px;
    
}
body{
    background-color:#752B19;
}
header {
    text-align:center;
    font-family:"font-family: 'Shadows Into Light', cursive;", cursive;
}
textarea {
    width:50%;
    height:300px;
    max-width:50%;
    max-height:200px;
}
textarea:focus {
    background-color:#d4d4d4;
}
#messageArea{
    position:relative;
    left:25%;
    padding:10px;
}
.numberText{
    display:inline-block;
    text-align:right;
    padding:1px;
}
#numberOfMessages{
    display:inline-block;
}
#messageField{
    color:#000000;
    width:50%;
    background-color:#FFFFFF;
    max-height:300px;
    overflow-y:auto;
    overflow-x:hidden;
    padding:5px;
}
#messageField p{
     background-color:#33CC33;
     border: solid 1px #248F24;
     border-radius: 5px;
     padding-left:5px;
     padding-right:5px;
     max-width:90%;

 }
 
 #messageField p span {
     position:relative;
     display:block;
     font-style:italic;
     left:88%;
 }
 #messageField a{
     float:right;
 }
 #messageField a img{
     width:18px;
     height:18px;
     padding:3px;
 }