@import url(http://fonts.googleapis.com/css?family=Montserrat);

#windowmanager {
	height: 640px;
	width: 1024px;
	margin: 0 auto;
	background-image: url("../pics/backgroundDefault.png");
}

body {
	background-color: black;
}

#menybar {
	position: absolute;
	margin-top: 595px;
	width:1024px;
	height: 45px;
	border-top: solid black 1px;
	background-color: rgba(0,0,0,0.3);
}

#menybar a {
	display: inline-block;
	width:45px;
	height:45px;
}

#menybar a:hover{
	background-color: rgba(0,0,0,0.5);
}

#menybar a:active{
	background-color: rgba(255,255,255,0.1);
}

.window{
	position: absolute;
	width: 300px;
	height: 400px;
	background-color: #AD8632;
	border:solid #785D23 4px;
	border-radius: 5px;
	margin-left: 25px;
	margin-top: 25px;

}

.statusBar{
	top:0px;
	width: 100%;
	height: 30px;
	border-bottom: solid 4px #785D23;
	background: linear-gradient(to bottom, #785D23, #AD8632)

}

.exitLink{
	position: absolute;
	right:0px;
	border: solid 2px #000000;
	height:27px;
	width:45px;
}

.windowIcon {
	width:20px;
	height:20px;
	position: absolute;
	display: block;
	top:0;
}
.windowIconText{
	position: absolute;
	display: block;
	margin-top: 0;
	margin-left: 25px;
	font-size: 14px;
	font-family: "Montserrat";
}
.content{
	height:347px; 
	overflow-y:auto;
}
.info{
	height:20px;
	background-color: #785D23;
}
/*
a:link 
a:visited 
a:hover 
a:focus 
a:active 
*/