@import url(http://fonts.googleapis.com/css?family=Bitter);


 body {
	background-color: #000000;
	
 }
 #quizboard {
	margin: 0 auto;
	width: 600px;
	min-height:300px;
	background-color: #FFFFFF; 
	border: solid #6B0A04 7px;
	border-radius: 5px;
 }

 table, th, td {
    border: 1px solid black;
    padding:5px;
}

.win {
	color:#064206;
	font-size:26px;
	text-align:center;
	padding:5px;
	border-bottom:solid #064206 2px;
	font-family:"Bitter";
}

#quizboard div{
    padding:3px;
}

